header.gallery-header(
  data-ng-class="{'fullscreen': item.fullscreen}"
)
  span.gallery-back.icon-arrow-back(
    data-ng-click="back()"
    data-ng-hide="item.open > -1"
  )
  span.gallery-item-close.icon-close(
    data-ng-click="close()"
    data-ng-show="item.open > -1"
  )

  h1.gallery-name
    span {{place.name}}

  div.gallery-duration
    span {{place.begin}}
    small -
    span {{place.end}}

  section.gallery-nav(
    data-ng-class="{'visible': item.open > -1}"
  )
    span.gallery-nav-back.icon-arrow-left(
      data-ng-click="showPrevious()"
    )
    span.gallery-nav-next.icon-arrow-right(
      data-ng-click="showNext()"
    )

  span.gallery-play(
    data-ng-class="{'icon-play': !item.play, 'icon-stop': item.play}"
    data-ng-click="playStop()"
  )
  span.gallery-fullscreen(
    data-ng-class="{'icon-fullscreen-open': !item.fullscreen, 'icon-fullscreen-close': item.fullscreen}"
    data-ng-click="toggleFullscreen()"
  )

div.gallery-loader(
  data-ng-class="{'visible': !item.loaded}"
)

div.gallery-grid(
  data-ng-class="{'visible': item.loaded}"
  deckgrid 
  source="place.images"
  cardTemplate="templates/gallery-item.html"
)

div.gallery-view(
  data-ng-class="{'visible': item.open > -1}"
  data-ng-click="close()"
  data-ng-swipe-left="showPrevious()"
  data-ng-swipe-right="showNext()"
)
  img.gallery-view-image(
    data-ng-src="{{ item.openImg }}"
  )
