header.gallery-header(
  data-ng-class="{'fullscreen': item.fullscreen}"
)
  span.gallery-back.icon-arrow-back(
    data-ng-click="back()"
    data-ng-hide="item.open > -1 || item.play"
  )
  span.gallery-item-close.icon-close(
    data-ng-click="close()"
    data-ng-show="item.open > -1 && !item.play"
  )

  h1.gallery-name
    span {{place.name}}

  div.gallery-duration
    span {{place.begin}}
    small -
    span {{place.end}}

  section.gallery-nav(
    data-ng-class="{'visible': item.open > -1 && !item.play}"
  )
    span.gallery-nav-back.icon-arrow-left(
      data-ng-click="showPrevious()"
    )
    span.gallery-nav-next.icon-arrow-right(
      data-ng-click="showNext()"
    )

  span.gallery-play(
    data-ng-class="{'icon-play': !item.play, 'icon-stop': item.play}"
    data-ng-click="playStop()"
  ) 
  div.gallery-play-intervals(
    data-ng-class="{'visible': item.play}"
  )
    span.icon-repeat.gallery-play-interval(
      data-ng-repeat="interval in item.intervals"
      data-ng-click="item.interval = interval"
      data-ng-class="{'active': interval == item.interval}"
    )
      small.gallery-play-interval-value {{ interval }}
  span.gallery-fullscreen(
    data-ng-class="{'icon-fullscreen-open': !item.fullscreen, 'icon-fullscreen-close': item.fullscreen}"
    data-ng-click="toggleFullscreen()"
  )

div.gallery-loader(
  data-ng-class="{'visible': !item.loaded}"
)

div.gallery-grid(
  data-ng-class="{'visible': item.loaded}"
  deckgrid 
  source="place.images"
  cardTemplate="templates/gallery-item.html"
)

div.gallery-view(
  data-ng-class="{'visible': item.open > -1, 'show-interval': item.showInterval}"
  data-ng-swipe-left="showPrevious()"
  data-ng-swipe-right="showNext()"
)
  div.gallery-view-interval(
    class="gallery-view-interval-{{ item.interval }}"
  )
  img.gallery-view-image(
    data-ng-src="{{ item.openImage.src }}"
    data-ng-class="{\
      'in-next': item.openImage.in && item.openImage.direction == 'next',\
      'out-next': item.openImage.out && item.openImage.direction == 'next',\
      'out-prev': item.openImage.out && item.openImage.direction == 'prev',\
      'in-prev': item.openImage.in && item.openImage.direction == 'prev',\
      'prepare-next': item.openImage.prepare && item.openImage.direction == 'next',\
      'prepare-prev': item.openImage.prepare && item.openImage.direction == 'prev',\
    }"
  )
